/*  your css code here. If applicable */
.progress-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.circle-container {
    display: flex;
    align-items: center;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
	border:1px solid #ccc;
    background-color: white;
    
	color:#ccc;
	text-align:center;
	
}

.circle.active {
    border:1px solid blue;
}

.bar-container {
    display: flex;
}

.bar {
    height: 2px;
    background-color: #ccc;
    flex: 1;
    width:30px;
}

.bar.active {
    background-color:blue
}

button {
    margin-right: 10px;
}