/*  your css code here. If applicable */
.container{
	display:flex;
	color:#E9E9EB
}
.bar{
	width:62px;
	height:5px;
	background-color:#E9E9EB;
	margin-top:25px;
}
.circle{
	display:flex;
	border:5px solid #E9E9EB;
	padding:5px;
	height:40px;
	width:40px;
	border-radius:60%;
	justify-content:center;
	align-items:center;
}
button{
	background-color:#3498DB;
	color:white;
	margin:20px;
	height:40px;
	width:70px;
	border-radius:10px;
	border:#3498DB;
	color:white;
	margin:20px;
}
.circle.active{
	border:5px solid #3498DB;
	
}
.bar.active{
	
	background-color:#3498DB;
	
}